# requirements.txt

# --- Framework Web y Servidor ---
Flask
Flask-Cors
gunicorn

# --- Cliente de OpenAI ---
openai
packaging

# --- Utilidades ---
python-dotenv
httpx

# --- Clientes de Google Cloud ---
google-cloud-firestore
google-cloud-bigquery  # <-- NUEVA LIBRERÍA
firebase-admin
stripe
